<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul *ngIf="currentUser$ | async" class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">DatingApp</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">List</a>
          </li>
        </ul>
        <form #loginForm = "ngForm" class="d-flex" role="search" (ngSubmit)="login()" autocomplete="off">
          <input *ngIf="(currentUser$ | async) === null" name = "username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username" aria-label="Search">
          <input *ngIf="(currentUser$ | async) === null" name = "password" [(ngModel)]="model.password" class="form-control me-2" type="password" placeholder="Password" aria-label="Search">
          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"> -->
          <button class="btn btn-outline-success" *ngIf="(currentUser$ | async) === null" type="submit">Login</button>
          <button class="btn btn-outline-success" *ngIf="currentUser$ | async" (click)="logout()" type="submit">Logout</button>
        </form>
      </div>
    </div>
  </nav>
